<!DOCTYPE html>
<html>
<head>
<title>The Friends</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="static/Fanenhua/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="static/Fanenhua/css/style.css" rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="static/Fanenhua/js/jquery-1.10.2.min.js"></script>  
<!---- start-smooth-scrolling---->
<script type="text/javascript" src="static/Fanenhua/js/move-top.js"></script>
<script type="text/javascript" src="static/Fanenhua/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!---end-smooth-scrolling-->
<!--start-top-nav-script-->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
<!--End-top-nav-script-->
</head>
<body>
	<!--start-header-->
					<div class="header">
						<div class="container">
							<div class="logo">
								<a href="#"><img src="static/Fanenhua/images/logo.png" alt=""></a>  
							</div>
							<!--start-top-nav-->
							 <nav class="top-nav">
								<ul class="top-nav">
									<li><a href="time.html">主页</a></li>&nbsp;/
									<li><a href="#">关于我们</a></li>&nbsp;/
									<li><a href="memory.html">彩蛋</a></li>&nbsp;/
									<li><a href="http://www.hadnone.com/">HADNONE</a></li>
								</ul>
								<a href="#" id="pull"><img src="static/Fanenhua/images/menu-icon.png" title="menu" /></a>
							</nav>
							<div class="clearfix"> </div>
						</div>
				</div>
		<!--End-header->
		<!--Slider-Starts-Here-->
				<script src="static/Fanenhua/js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!--End-slider-script-->
			<!--starts-about-->
			<div class="about">
				<div class="container">
					<div class="about-top">
						<h3>我们的故事</h3>
						<P></P>
						</div>
				</div>
			</div>
			<!--End-about-->
			<!--Responsive-tabs-Starts-Here-->
	<div class="responsive-tabs" id="project">
		<div class="container">
			<div class="tabs-box clock wow bounceIn">
			<ul class="tabs-menu">
				<li><a href="#tab1">这绵长又绵长的岁月</br>又能改变什么呢</a></li>
				<li><a href="#tab2">你们美好,但不自知</br></br></a></li>
				<li><a href="#tab3">那些狗都不愿意听的笑话</br>只有你们愿意听</a></li>
				<li><a href="#tab4">我就爱装逼</br></br></a></li>
			</ul>
			<div class="clearfix"> </div>
			<div class="tab-grids">
				<div id="tab1" class="tab-grid">
						<p>九个人，不多也不少，是相遇在外国语的这九个人。</br></br>

						一开始素不相识，在那之前，我并不知道，会跟你们相识相知相伴至今甚至直至以后</br></br>

						记忆不是很鲜明 但你们都有一幅最初的影像存在我的大脑胶片里。</br></br>

						我记得最开始的时候</br></br>

						大炮确实是老实可爱的类型</br></br>
						 
						发发呢 帅屌帅屌的不可一世的那种</br></br> 

						吴浩就是自恋但那时候确实还觉得多好看的</br></br> 

						浪浪 就是觉得有点小帅 人缘好像不错的样子</br></br> 

						欢欢呢 是很少讲话的软妹子形象 </br></br>

						剩下的是三班的 对娟娟的印象就是终年不散的脸红红</br></br> 

						刘鹏呢 没有刘海额头比较宽眼窝陷得很深人还多幽默</br></br> 

						农民嘛 活脱脱的一个四次元脱线骚年</br></br> 

						反正当时没怎么想深交哈哈</br></br>
						结果一不小心就互相了解交流熟到现在这步田地了</br></br>
						 
						但是 不管是爱吹牛逼总是喜欢组织各种活动增进我们感情的大炮 </br></br>

						还是总是饱受诟病槽点说不完却缺他不可的农民</br></br> 

						不管是贤惠温柔刀子嘴豆腐心的欢欢</br></br> 

						还是幽默搞笑一直在找真爱的帅气的娟娟</br></br> 

						不管是一直假装低调然后总是在关键时候一鸣惊人的发发</br></br> 

						还是经常自黑不顾痘痘也硬要吃美食的浪浪</br></br> 


						不管是神戳戳的总感觉背后有什么肮脏PY交易的脏脏的</br>
						但是其实很善良也能很帅的刘鹏</br></br>
						 
						还是明骚难躲评价老是说色色的心很宽其实人也不错的吴浩</br></br>
						 
						都在我的脑海里挥也挥散不去了</br></br>
						 
						朋友，在彼此心里都有位置，而每个人都是独特的。</br></br>

						不管怎么说，你们都包容过我关心过我并且以后会一直一直陪伴着我</br></br>

						在一起的快乐，都变成回忆，变成我生命里美丽悦耳的乐章</br></br>
						 
						纵然易了容颜，改了笑貌，换了位置，可我们拥有的羁绊，无从解开也无法分割</br></br>
						 
						所以说，感情这种强大的东西存在的话</br></br> 

						这绵长又绵长的岁月，又能去改变什么呢</p>
   				</div>
				<div id="tab2" class="tab-grid">
						<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing.</p>
						<p>Lorem egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis Gravida id, est.</p>
						<P>claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</P>
   				</div>
				<div id="tab3" class="tab-grid">
						<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue.</p>
						<p>Lorem egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing</p>
						<P>claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</P>
   				</div>
   				<div id="tab4" class="tab-grid">
						<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue.</p>
						<p>Lorem egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing</p>
						<P>claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</P>
   				</div>
			</div>
			</div>
		</div>
		<!--Script-->
		<script src="static/Fanenhua/js/jquery-1.11.0.min.js"></script>
		<script src="static/Fanenhua/js/myscript.js"> </script>
`		<!--Script-->
	</div>
<!--Responsive-tabs-ends-Here-->
			<!--starts-footer-->
			<div class="footer">
				<div class="container">
					<div class="footer-main">
						<p>&copy 2016-speak by <a href="http://www.hadnone.com/">hadNone</a></p>
					</div>
				</div>
				<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
					<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
			</div>
			<!--End-footer-->
</body>
</html>