<!DOCTYPE html>
<html>
<head>
<title>The Friends</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="static/mb5_blacksea/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="static/mb5_blacksea/css/style.css" rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="static/mb5_blacksea/js/jquery-1.10.2.min.js"></script>  
<!---- start-smooth-scrolling---->
<script type="text/javascript" src="static/mb5_blacksea/js/move-top.js"></script>
<script type="text/javascript" src="static/mb5_blacksea/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!---end-smooth-scrolling-->
<!--start-top-nav-script-->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
<!--End-top-nav-script-->
</head>
<body>
	<!--start-header-->
				<div id="home" class="banner">
					<div class="header">
						<div class="container">
							<div class="logo">
								<a href="#"><img src="static/mb5_blacksea/images/logo.png" alt=""></a>  
							</div>
							<!--start-top-nav-->
							 <nav class="top-nav">
								<ul class="top-nav">
									<li><a href="#">主页</a></li>&nbsp;/
									<li><a href="http://doforyou.gift/樊恩华_us" target='_blank'>关于我们</a></li>&nbsp;/
									<li><a href="#">彩蛋</a></li>&nbsp;/
									<li><a href="#">HADNONE</a></li>
								</ul>
								<a href="#" id="pull"><img src="static/mb5_blacksea/images/menu-icon.png" title="menu" /></a>
							</nav>
							<div class="clearfix"> </div>
						</div>
				</div>
				<div class="banner-text">
					<div  id="top" class="callbacks_container">
			      		<ul class="rslides" id="slider4">
			        	<li>
							<div class="banner-top">
								<h1>这绵长又绵长的岁月</br>又能改变什么呢</h1>	
								<div class="bttn">
									<a href="http://www.hadnone.com/樊恩华_readmore" target="_blank">Read more</a>
								</div>
							</div>
						</li>
						<li>
							<div class="banner-top">
								<h1>你们美好,但不自知</br></br></h1>	
								<div class="bttn">
									<a href="http://www.hadnone.com/樊恩华_readmore" target="_blank">Read more</a>
								</div>
							</div>
						</li>
						<li>
							<div class="banner-top">
								<h1>那些狗都不愿意听的笑话</br>只有你们愿意听</br></h1>	
								<div class="bttn">
									<a href="http://www.hadnone.com/樊恩华_readmore" target="_blank">Read more</a>
								</div>
							</div>
						</li>
						<li>
							<div class="banner-top">
								<h1>真是可怕的年轻人</br></br></h1>	
								<div class="bttn">
									<a href="http://www.hadnone.com/樊恩华_readmore" target="_blank">Read more</a>
								</div>
							</div>
						</li>
			      </ul>
			    </div>
			    <div class="clearfix"></div>
				</div>
			</div>
		<!--End-header-->
		<!--Slider-Starts-Here-->
				<script src="static/mb5_blacksea/js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 600,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<audio height="0" width="0" autoplay='true'>
				  <source src="http://7xt6d3.com1.z0.glb.clouddn.com/fly.mp3" type="audio/mp3" />
				  <source src="static/Source/mp3/fly.ogg" type="audio/ogg" />
				  <embed height="0" width="0" src="static/Source/mp3/fly.ogg" />
			</audio>
			<!--End-slider-script-->
			<!--about-starts-->
			
			<!--End-about-->
			<!--starts-dhavan-->
			
			<!--End-dhavan-->
			<!--Slider-Starts-Here-->

			<!--End-slider-script-->
			<!--starts-contact-->
			
			<!--End-contact-->
			<!--starts-footer-->
			
			<!--End-footer-->
</body>
</html>